@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-highlight: var(--highlight);
  --color-highlight-foreground: var(--highlight-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --background: #F8FAFC;
  --foreground: #292929;
  --card: #FFFFFF;
  --card-foreground: #292929;
  --popover: #FFFFFF;
  --popover-foreground: #292929;
  --primary: #63A7FF;
  --primary-foreground: #FFFFFF;
  --secondary: #F6F7FB;
  --secondary-foreground: #213660;
  --muted: #DEECFA;
  --muted-foreground: #696969;
  --accent: #213660;
  --accent-foreground: #FFFFFF;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --success: #d4fbd2;
  --success-foreground: #0D5F07;
  --warning: #EE924F;
  --warning-foreground: #FFFFFF;
  --highlight: #213660;
  --highlight-foreground: #FFFFFF;
  --highlight-deep: #060321;
  --border: #C0C0C0;
  --input: #C0C0C0;
  --ring: #63A7FF;
  --radius: 0.5rem;
}

:root.dark {
  --background: #121212;
  --foreground: #F8FAFC;
  --card: #1E1E1E;
  --card-foreground: #F8FAFC;
  --popover: #1E1E1E;
  --popover-foreground: #F8FAFC;
  --primary: #63A7FF;
  --primary-foreground: #FFFFFF;
  --secondary: #424242;
  --secondary-foreground: #F8FAFC;
  --muted: #2A2A2A;
  --muted-foreground: #A1A1AA;
  --accent: #63A7FF;
  --accent-foreground: #FFFFFF;
  --destructive: #7F1D1D;
  --destructive-foreground: #F8FAFC;
  --success: #052e16;
  --success-foreground: #d4fbd2;
  --warning: #7c2d12;
  --warning-foreground: #EE924F;
  --border: #424242;
  --input: #424242;
  --ring: #63A7FF;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}